* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    color: #fff;
}

.landing {
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
    font-weight: lighter;
}

.big-text {
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translateX(-190%);
    font-family: 'Special Elite', cursive;
    color: rgba(7, 5, 5, 0.486);
    text-shadow: 4px black;
}

.intro {
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#it {
    transform: translateX(100%);
}

.slider {
    background-image: url(intro.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    transform: translateY(100%);
}

.intro-text {
    font-family: 'Special Elite', cursive;
    font-size: 3rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 0.8rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 7rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 2rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}